<div class="head">
<h2><%= @client.name %>'s Details</h2>
<%= link_to "Edit client", edit_user_client_url(current_user, @client) %>
</div>
<div class="client-items">
  <h4>Item Details</h4>
  <%= link_to "Create new item", new_user_item_path(current_user) %>
  <table>
    <thead>
      <tr>
        <td>Item Name</td>
        <td>Item Description</td>
      </tr>
    </thead>
    <tbody>
      <% @client.items.each do |item| %>
        <tr>
          <td><%= link_to "#{item.name}", user_item_path(current_user, item) %></td>
          <td><%= item.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="shipment-details">
  <h4>Shipment Details</h4>
  <%= link_to "Create new shipment", new_user_shipment_url(current_user) %>
  <table>
    <thead>
      <tr>
        <td>Shipment ID</td>
        <td>Reference</td>
        <td>Pickup Date</td>
        <td>Delivery Date</td>
        <td>Shipper</td>
        <td>Consignee</td>
      </tr>
    </thead>
    <tbody>
      <% @client.shipments.each do |shipment| %>
        <tr>
          <td><%= link_to "#{shipment.id}", user_shipment_path(current_user, shipment) %></td>
          <td><%= shipment.reference %></td>
          <td><%= shipment.pickup_date %></td>
          <td><%= shipment.delivery_date %></td>
          <td><%= shipment.shipment_details.shipper.location.company_name %></td>
          <td><%= shipment.shipment_details.consignee.location.company_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
