<div id="filter-date">

</div>
<div id="driver-list">
  <table>
    <thead>
      <tr>
        <td>Drivers</td>
      </tr>
    </thead>
    <tbody>
      <% @drivers.each do |driver| %>
        <tr>
          <td><%= driver.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="assigned-shipments">
  <h4>Assigned Shipments</h4>
  <table>
    <thead>
      <tr>
        <td>Shipment Id</td>
        <td>Client Name</td>
      </tr>
    </thead>
    <tbody>
      <% @assigned_shipments.each do |shipment| %>
      <tr>
          <td><%= shipment.id %></td>
          <td><%= shipment.client.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="unassigned-shipments">
  <h4>Unassigned Shipments</h4>
  <table>
    <thead>
      <tr>
        <td>Shipment Id</td>
        <td>Client Name</td>
      </tr>
    </thead>
    <tbody>
      <% @unassigned_shipments.each do |shipment| %>
        <tr>
          <td><%= shipment.id %></td>
          <td><%= shipment.client.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="new-shipment">

</div>
