<div id="filter-date">
  <input type="date" value="<%= Date.today %>"></input>
  <button id="date-filter">Refresh</button>
</div>
<div id="driver-list">
  <h4>Drivers</h4>
  <table>
    <thead>
      <tr>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <% @drivers.each do |driver| %>
        <tr>
          <td><%= driver.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="assigned-shipments">
  <h4>Assigned Shipments</h4>
  <table>
    <thead>
      <tr>
        <td>Id</td>
        <td>Client Name</td>
      </tr>
    </thead>
    <tbody>
      <% @assigned_shipments.each do |shipment| %>
      <tr>
          <td><%= shipment.id %></td>
          <td><%= shipment.client.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="unassigned-shipments">
  <h4>Unassigned Shipments</h4>
  <table>
    <thead>
      <tr>
        <td>Id</td>
        <td>Client Name</td>
        <td>Pickup Date</td>
        <td>Delivery Date</td>
      </tr>
    </thead>
    <tbody>
      <% @unassigned_shipments.each do |shipment| %>
        <tr>
          <td><%= shipment.id %></td>
          <td><%= shipment.client.name %></td>
          <td><%= shipping_date(shipment) %></td>
          <td><%= delivery_date(shipment) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="new-shipment">

</div>
