<h2>Edit Shipment Details</h2>
<%= form_for [current_user, @shipment] do |f| %>
  <%= f.label :client_id %>
  <% if params[:client_id] %>
    <%= f.text_field :client_name, {value: "#{current_client.name}", readonly: true}%>
    <%= f.hidden_field :client_id, {value: "#{current_client.id}", readonly: true} %>
  <% else %>
    <%= f.collection_select :client_id, current_user.clients, :id, :name, prompt: "Please select the client" %>
  <% end %>
  <br>
  <%= render partial: "/shipments/form", locals: {f: f} %>
  <div class = "new-address">
    <%= f.fields_for :location_shipper do |location| %>
      <%= location.collection_select :id, current_user.locations, :id, :company_name, {include_blank: true, selected: "#{@location_shipper.first.location_id}"} %>
      <%= render partial: "/shipments/new_address", locals: {location: location, user: current_user} %>
      Pickup Driver <%= location.collection_select :driver_id, current_user.drivers, :id, :name, {include_blank: true, selected: "#{@location_shipper.first.driver_id}"} %>
    <% end %>
  </div>
  <div class="new-address">
    <%= f.fields_for :location_consignee do |location| %>
      <%= location.collection_select :id, current_user.locations, :id, :company_name, {include_blank: true, selected: "#{@location_consignee.first.location_id}" }%>
      <%= render partial: "/shipments/new_address", locals: {location: location, user: current_user} %>
      Delivery Driver <%= location.collection_select :driver_id, current_user.drivers, :id, :name, {include_blank: true, selected: "#{@location_consignee.first.driver_id}"} %>
    <% end %>
  </div>
  <br>
  <br>
  <%= f.submit %>
<% end %>
