<h2>Edit Shipment Details</h2>
<%= form_for [current_user, @shipment] do |f| %>
  <%= f.label :client_id %>
  <%= f.collection_select :client_id, current_user.clients.active, :id, :name, selected: "#{@shipment.client.id}" %>
  <br>
  <%= render partial: "/shipments/form", locals: {f: f} %>
  <div class = "new-address">
    <%= f.fields_for :location_shipper do |location| %>
      <%= render partial: "/shipments/shipper_edit_details", locals: {location: location, location_shipper: @location_shipper} %>
      <br>
      <%= render partial: "/shipments/new_address", locals: {location: location, user: current_user} %>
    <% end %>
  </div>
  <div class="new-address">
    <%= f.fields_for :location_consignee do |location| %>
      <%= render partial: "/shipments/consignee_edit_details", locals: {location: location, location_consignee: @location_consignee} %>
      <br>
      <%= render partial: "/shipments/new_address", locals: {location: location, user: current_user} %>
    <% end %>
  </div>
  <br>
  <br>
  <%= f.submit %>
<% end %>
