<h2>Shipments</h2>
<%= link_to "Create new shipment", new_user_shipment_path(current_user) %>
<table>
  <thead>
    <tr>
      <td>Shipment ID</td>
      <td>Reference</td>
      <td>Pickup Date</td>
      <td>Delivery Date</td>
    </tr>
  </thead>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= link_to "#{shipment.id}", user_shipment_path(current_user, shipment) %></td>
        <td><%= shipment.reference %></td>
        <td><%= shipping_date(shipment) %></td>
        <td><%= delivery_date(shipment) %></td>
      </tr>
    <% end %>
</table>
