<h2>New Shipment Details</h2>
<%= form_for [current_user, @shipment] do |f| %>
  <% if flash[:notice] %>
    <% flash[:notice].each do |msg| %>
      <%= msg %><br>
    <% end %>
  <% end %>
  <%= f.label :client_id %>
  <%= f.collection_select :client_id, current_user.clients.active, :id, :name, prompt: "Select a client" %>
  <br>
  <%= render partial: "/shipments/form", locals: {f: f} %>
  <div class = "new-address">
    <%= f.fields_for :location_shipper do |location| %>
      <%= location.collection_select :id, current_user.locations, :id, :company_name, {prompt: "Select a shipper"} %>
      <%= render partial: "/shipments/new_address", locals: {location: location, user: current_user} %>
      Pickup Driver <%= location.collection_select :driver_id, current_user.drivers.active, :id, :name, {prompt: "Select a pickup driver"} %>
    <% end %>
  </div>
  <div class="new-address">
    <%= f.fields_for :location_consignee do |location| %>
      <%= location.collection_select :id, current_user.locations, :id, :company_name, {prompt: "Select a consignee"} %>
      <%= render partial: "/shipments/new_address", locals: {location: location, user: current_user} %>
      Delivery Driver <%= location.collection_select :driver_id, current_user.drivers.active, :id, :name, {prompt: "Select a delivery driver"} %>
    <% end %>
  </div>
  <br>
  <br>
  <%= f.submit %>
<% end %>
