<h2>Shipment <%= @shipment.id %> Details</h2>
<%= link_to "Edit this shipment", edit_user_shipment_path(current_user, @shipment) %><br>
<br>
Client: <%= @shipment.client.name %><br>
Reference: <%= @shipment.reference %><br>
Pickup Date: <%= @shipment.pickup_date %><br>
Delivery Date: <%= @shipment.delivery_date %><br>
<br>
<div class="shipper-info">
  <%= render partial: "/shipments/shipper_details", locals: {shipment: @shipment} %>
</div>
<div class="consignee-info">
  <%= render partial: "/shipments/consignee_details", locals: {shipment: @shipment} %>
</div>
