<%= link_to "Create new location", new_location_path %>
<h2>Current locations</h2>
<ol>
  <% @locations.each do |location| %>
    <li>
      <%= link_to "#{location.company_name}", location_path(location) %><br>
      <p id="location-details-<%= location.id %>"></p>
      <button class="location-details" data-id="<%= location.id %>">More Detail</button>
      <button class="hide-location-details" data-id="<%= location.id %>">Hide Details</button>
    </li>
  <% end %>
</ol>
